{% extends 'master.html' %}
{% block contenido %}

<div class='d-flex p-3 justify-content-between'>
    <h1>Bienvenido a MisLucas, {{current_user.name + " " + current_user.surname}} </h1>
    <div >
        <a href='{{url_for("logout")}}' class='btn btn-danger'>Logout</a>
    </div>
</div>
    
<h2 class="text-center text-success p-2"> Tienes acumulado: {{current_user.total}} </h2>

<div class="row">
    <div class="col-6 p-5">
        <form method="POST" , action="/registrar_transaccion" , autocomplete="off">
            <h2>Crear transacción</h2>
            <div class='form-floating my-2'>
                <input class='form-control' type="number" name="monto" id="monto"
                    placeholder="En soles, negativo para egresos">
                <label for='monto'>Monto</label>
            </div>

            <div class='form-floating my-2'>
                <input class='form-control' type="text" name="detalle" id="detalle"
                    placeholder="Describe tu transacción">
                <label for='detalle'>Detalle</label>
            </div>

            <div class='form-floating my-2'>
                <input class='form-control' type="text" name="tipo" id="tipo" placeholder="Efectivo o digital">
                <label for='tipo'>Tipo</label>
            </div>

            <input type="submit" value="Submit" class='btn btn-primary'>
            <input type="button" value="Fin de mes" class='btn btn-primary btn-danger' href="eliminar">

        </form>
    </div>

    <div class="col-6 p-5">
        <h2>Movimientos</h2>
        <table id="Transacciones" class='table'>
            <thead>
                <tr>
                    <th scope='col'>Monto</th>
                    <th scope='col'>Detalle</th>
                    <th scope='col'>Tipo</th>
                    <th scope='col'>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {%for i in current_user.transacciones%}
                <tr>
                    <th>{{i.monto}} </th>
                    <th>{{i.detalle}}</th>
                    <th>{{i.tipo}}</th>
                    <th> 
                        <button class='btn btn-sm btn-outline-primary'>Editar</button> 
                        <button class='btn btn-sm btn-outline-danger'>Eliminar</button> 
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script src="{{ url_for('static',filename='script.js') }}"> </script>
{% endblock %}