<!DOCTYPE html>
<html>

<head>
    <title>
        MisLucas
    </title>

    <form action="/logout", style="text-align: right;">
        <input type="submit" value="Logout"/>
    </form>

    <h1 style="text-align:center">¡Bienvenido a MisLucas, {{current_user.name}}!</h1>
    
    <h2 style="text-align:center">
        Tienes acumulado: {{current_user.total}}<span id="Total"></span>
    </h2>

    <link rel="stylesheet" href="static\styles\dashborad.css">
</head>

<body>
    <table>
        <tr>
            <td>
                <form method="POST", action="/registrar_transaccion", autocomplete="off">

                    <div>
                        <label>Monto</label><label class="validation-error hide" id="montoValidationError">This field is required.</label>
                        <input type="number" name="monto" id="monto" placeholder="En soles, negativo para egresos">
                    </div>

                    <div>
                        <label>Detalle</label>
                        <input type="text" name="empCode" id="empCode" placeholder="Describe tu transacción">
                    </div>

                    <div>
                        <label>Tipo</label>
                        <input type="text" name="salary" id="salary" placeholder="Efectivo o digital">
                    </div>

                    <div  class="form-action-buttons">
                        <input type="submit" value="Submit">
                    </div>

                </form>
            </td>
            <td>
                <h1>Movimientos</h1>
                <table id="employeeList">
                    <thead>
                        <tr>
                            <th>Monto</th>
                           <th>Detalle</th>
                            <th>Tipo</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for i in current_user.transacciones%} 
                        <tr>
                            <th>{{i.monto}} </th>
                           <th>{{i.detalle}}</th>
                            <th>{{i.tipo}} <br></th>
                            <th></th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>    
            </td>
        </tr>
    </table>
    <script src="{{ url_for('static',filename='script.js') }}"> </script>
</body>

</html>