{% extends 'master.html' %}
{% block contenido %}
<br>

<div class='d-flex p-3 justify-content-between'>
    <h1 style="font-weight: bold;">Bienvenido {{current_user.name + " " + current_user.surname}} </h1>
    <div >
        <a href='{{url_for("logout")}}' class='btn btn-danger'>Logout</a>
    </div>
</div>
<h2 class="text-center text-success p-2"> Tienes acumulado: {{current_user.total}} </h2>

<div class="row w-100">
    <div class="col-5 p-5">
        <form method="POST" , action="/registrar_transaccion" , autocomplete="off" id="crear">
            <h2>Crear transacción</h2>
            <div class='form-floating my-2'>
                <input class='form-control' type="number" name="monto" id="monto">
                <label for='monto'>Monto</label>
            </div>

            <div class='form-floating my-2'>
                <input class='form-control' type="text" name="detalle" id="detalle">
                <label for='detalle'>Detalle</label>
            </div>

            <div class='form-floating my-2'>
                <input class='form-control' type="text" name="tipo" id="tipo">
                <label for='tipo'>Tipo</label>
            </div>

            <input type="submit" value="Submit" class='btn btn-primary'>

        </form>

        <form method="POST" action="/editar_transaccion" autocomplete="off" class="d-none" id="editar">
            <h2>Editar Transacción</h2>
            <input value=""  type="number" name="transaccion_id" class='transaccion_id' hidden>
            <div class='form-floating my-2'>
                <input value="" class='form-control monto' type="number" name="monto" id="monto">
                <label for='monto'>Monto</label>
            </div>

            <div class='form-floating my-2'>
                <input value="" class='form-control detalle' type="text" name="detalle" id="detalle">
                <label for='detalle'>Detalle</label>
            </div>

            <div class='form-floating my-2'>
                <input value="" class='form-control tipo' type="text" name="tipo" id="tipo" >
                <label for='tipo'>Tipo</label>
            </div>

            <input type="submit" value="Submit" class='btn btn-primary'>
            <button type="button" class='btn btn-outline-secondary' onclick="crearTransaccion()">Cancel</button>

        </form>

        <form method="POST" action="/eliminar_transaccion" autocomplete="off" class="d-none" id="eliminar">
            <input value="" type="number" name="transaccion_id" class='transaccion_id' hidden>
        </form>

        <form method="POST" action="/eliminar_transaccion_all" autocomplete="off" class="d-none" id="eliminar_all">
        </form>

    </div>


    <div class="col-7 p-5">
        <h2>Movimientos</h2>
        <table id="Transacciones" class='table'>
            <thead>
                <tr>
                    <th scope='col'>Fecha</th>
                    <th scope='col'>Monto</th>
                    <th scope='col'>Detalle</th>
                    <th scope='col'>Tipo</th>
                    <th scope='col'>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {%for i in transacciones%}
                <tr>
                    <th>{{i.fecha.strftime("%d/%m/%y %I:%M%p")}} </th>
                    <th>{{i.monto}} </th>
                    <th>{{i.detalle}}</th>
                    <th>{{i.tipo}}</th>
                    <th> 
                        <button class='btn btn-sm btn-outline-primary' onclick="editarTransccion('{{i.id}}', '{{i.monto}}', '{{i.detalle}}', '{{i.tipo}}' )">Editar</button> 
                        <button class='btn btn-sm btn-outline-danger' onclick="eliminarTransaccion('{{i.id}}')">Eliminar</button> 
                    </th>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <input type="button" value="Delete All" class='btn btn-primary btn-danger' onclick="eliminarAll()" href="eliminar">
    </div>
</div>
<script src="{{ url_for('static',filename='script.js') }}"> </script>
{% endblock %}