<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ingresar</title>
    <link rel="stylesheet" href="static\styles\login.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <section class="form-login">
      <h5>Ingresar</h5>
      <form method="POST" action="/usuario_login">
        <input class="controls" type="text" name="usuario" value="" placeholder="e-mail">
        <input class="controls" type="password" name="contrasena" value="" placeholder="contraseña">
        <input class="buttons" type="submit" name="" value="Ingresar" >
      </form>
      <p>
        <a href="{{url_for('create')}}">Registrar</a> | 
        <a href="{{url_for('recuperar')}}">¿Olvidaste tu Contraseña?</a>
      </p>

    </section>
  </body>
</html>