{% extends "master.html" %}
{% block contenido %}

<div class="row w-100">
    <div class="col-6">
        <img src="/static/images/isometric-login.svg">
    </div>
    <div class="col-6 px-5">
        <a href="/" class='text-end'>
            <div class="logo">
                <img class="logo-size" src="/static/images/logo-light.svg" alt="" width='200px' >
            </div>
        </a>
        <h1 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Hola,</h1>
        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Bienvenido a Mis Lucas!</h1>
        <div>
            <p class="text-secondary">Nuevo usuario? <a href="{{url_for('create')}}">Registrarse</a></p>
        </div>

        <form method="POST" action="/usuario_login" >
            <div class='form-floating my-2' > 
                <input class="form-control" type="text" name="usuario" placeholder="E-mail Address" required>
                <label for="usuario">
                    Email Address
                </label>
            </div>
            <div class='form-floating my-2'>
                <input class="form-control" type="password" name="contrasena" placeholder="Password" required>
                <label for="contrasena">
                    Password
                </label>
            </div>

            <button id="submit" type="submit" class="btn btn-primary me-2">Ingresar</button> <a href="{{url_for('recuperar')}}">Te olvidaste la contraseña?</a>

        </form>
    </div>
</div>
{% endblock %}