{% extends "master.html" %}
{% block contenido %}

<div class="row">
    <div class="col-6 p-5">
        <img src="/static/images/billete.svg">
    </div>
    <div class="col-6 px-5">
        <a href="/" class='text-end'>
            <div class="logo">
                <img class="logo-size" src="/static/images/logo-light.svg" alt="" width='170px' >
            </div>
        </a>
        <h3>Bienvenido a Mis Lucas!</h3>
        <p>El poder del control de tu dinero en tus manos.</p>
        <div>
            <a href="{{url_for('create')}}" class='btn btn-sm btn-outline-primary'>Register</a>
        </div>

        <form method="POST", action="/usuario_login">
            <div class='form-floating my-2' > 
                <input class="form-control" type="text" name="usuario" placeholder="E-mail Address" required>
                <label for="usuario">
                    Email Address
                </label>
            </div>
            <div class='form-floating my-2'>
                <input class="form-control" type="password" name="contrasena" placeholder="Password" required>
                <label for="contrasena">
                    Password
                </label>
            </div>

            <button id="submit" type="submit" class="btn btn-primary me-2">Login</button> <a href="{{url_for('recuperar')}}">Forget password?</a>

        </form>
    </div>
</div>
{% endblock %}