<!-- 
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="static\styles\login.css">
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <section class="form-login">
      <h5>Registrar</h5>
      <form method="POST">
        <input class="controls" type="email" name="correo" value="" placeholder="Correo">
        <input class="controls" type="text" name="nombre" value="" placeholder="Nombre">
        <input class="controls" type="text" name="apellido" value="" placeholder="Apellido">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Registrar">
      </form>
      <p>
        <a href="{{url_for('index')}}">Regresar</a>
      </p>

    </section>
  </body>
</html> -->
{% extends "master.html" %}
{% block contenido %}

<div class="row">
    <div class="col-6">
        <img src="/static/images/register.svg">
    </div>
    <div class="col-6 px-5">
        <a href="/" class='text-end'>
            <div class="logo">
                <img class="logo-size" src="/static/images/logo-light.svg" alt="" width='170px' >
            </div>
        </a>
        <h1>Registrarse</h1>
        <p>Hola! Registrate para continuar.</p>
        <div>
            <p class="text-secondary">Ya tienes cuenta? Ingresa a <a href="{{url_for('index')}}">Login</a></p>
        </div>

        <form method="POST" class="shadow-lg p-3 mb-5 bg-blue rounded">
            <div class='form-floating my-2' > 
                <input class="form-control" type="text" name="correo" placeholder="E-mail Address" required>
                <label for="correo">
                    Email Address
                </label>
            </div>
            <div class='form-floating my-2' > 
              <input class="form-control" type="text" name="nombre" placeholder="E-mail Address" required>
              <label for="nombre">
                  Nombre
              </label>
          </div>
          <div class='form-floating my-2' > 
            <input class="form-control" type="text" name="apellido" placeholder="E-mail Address" required>
            <label for="apellido">
                Apellido
            </label>
        </div>
            <div class='form-floating my-2'>
                <input class="form-control" type="password" name="contrasena" placeholder="Password" required>
                <label for="contrasena">
                    Password
                </label>
            </div>

            <button id="submit" type="submit" class="btn btn-primary me-2">Registrar</button> 

        </form>
    </div>
</div>
{% endblock %}